.bottomElem {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 240px;
  align-items: flex-end;
  align-self: flex-end;
}

.bottomElem__music {
  width: 64%;
  margin-right: 20px;
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomElem__ac {
  width: 36%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom__box {
  height: 200px;
  border-radius: 10px;
  text-align: center;
  background-color: #1B1D36;
  margin-bottom: 10px;
}