@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('./leftElem.css');
@import url('./bottomElem.css');
@import url('./map.css');

.Container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
}

.icon-main {
  display: flex;
  /* justify-content: flex-end; */
  /* margin-top: 200px; */
  margin-bottom: 48px;
  color: #fff;
  flex-direction: column;
  margin-left: -76px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.icon {
  color: #fff;
  background-color: #1b1d36;
  margin: 10px;
  /* font-size: 20px; */
  padding: 10px;
  border-radius: 10px;
}

.icon img {
  height: 35px;
  width: 35px;
  color: #fff;
}

.icons {
  display: flex;
  /* width: 100%; */
  justify-content: flex-end;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #0e1025;
  background-color: #0e1025;
  color: white;
  font-weight: 700;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
